<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='diary/css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='diary/css/bootstrap.min.css')}}">

    
    {% if title %}
        <title>My Dairy | {{title}}</title>
    {% else %}
        <title>My Dairy</title>
    {% endif %}
        
</head>
<body>
    <header class="nav nav-bar">
        <div >
            <a href="{{ url_for('index') }}" class="logo">My Dairy</a>
        </div>
        <div class="nav-options">
            
            {% if current_user.is_authenticated %}
                <a href="#add-form">Add Event</a>
                <a href="#view-events">View Your Events</a>
                <a href="">Log Out</a>
            {% else %}
                <a href="{{ url_for('create_account') }}">Sign Up</a>
                <a href="{{ url_for('sign_in') }}">Login</a>
            {% endif %}
                
        </div>
        <div class="mobile-nav-options">
            <a href="#" class="menu-open-btn">&#9776;</a>
            <a href="#" class="menu-close-btn">&times;</a>
        </div>
    </header>
    <div class="mobile-nav">
       <div class="mobile-nav-items">
            
            {% if current_user.is_authenticated %}
                <a href="#add-form" class="mobile-link">Add Event</a>
                <a href="#view-events" class="mobile-link">View Your Events</a>
            {% else %}
                <a href="{{ url_for('create_account') }}">Sign Up</a>
                <a href="{{ url_for('sign_in') }}">Login</a>
            {% endif %}
                
       </div>
    </div>
    
    {% block body %}
        
    {% endblock body %}
    <script src="{{ url_for('static',filename='diary/js/index.js') }}">
    </script>
</body>
</html>
        