:root{
    --primary-color:dodgerblue;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', sans-serif;
}
html{
    scroll-behavior: smooth;
    scrollbar-3dlight-color:var(--primary-color);
}
body{
    /* background-color: var(--primary-color); */
}
a{
    text-decoration:none;
}
ul{
    list-style: none;
}
.mobile-nav{
    display: none;
}
header{
    min-height: 69vh;
    background-color: var(--primary-color);
}
nav{
    padding: 10px;
    display: flex;
    justify-content:center;
}

.intro{
    height: 80%;
    padding: 10%;
    display: flex;
    justify-content: center;
    /* background: url('../img/person_3.jpg') no-repeat center center/cover;
     */
    background-color: var(--primary-color);
    color: white;

}
.text-lg{
    font-size: 5rem;
}
.intro-text{
    font-size: 1.5rem;
}
.scroll-nav-bar{
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.scroll-nav{
    padding: 20px;
    display: flex;
    justify-content:space-between;
}
.nav-item{
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    padding: 20px;
    font-size:1.2rem;
    /* background-color: var(--primary-color); */
}
.about{
    display: flex;
    justify-content: space-between;
    min-height: 80vh;
}
.about-btn{
    padding: 20px;
    text-transform: uppercase;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin: 20px;
    transition: all 0.8s;
}
.about-btn:hover{
    background-color: var(--primary-color);
    border: 1px solid black;
    color: white;
    padding: 19px;
}
.myphoto{
    padding: 5%;
}
.myphoto img{
    border-radius: 50%;
}
.mydescription{
    padding: 10% 0 0 0;
}
.desc-content{
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 20px;
}
.options{
    padding: 20px;
}
.projects{
    padding: 5rem 2rem  0 2rem;
    color: white;
    min-height: 100vh;
    background-color:var(--primary-color);
}
.project-header{
    text-align: center;
}
.project-list{
    /* padding: 2.5rem; */
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    margin: auto;
    
}
.project-card{
    width: 350px;
    height: 400px;
    background-color: white;
    color: black;
    box-shadow: 0 12px 15px  rgba(185, 206, 206, 0.28);
    margin: 20px;
}
.proj-img{
    height: 50%;
}
.proj-img img{
   width:350px;
}
.proj-desc{
    padding: 10px;
}