:root{
    --primary-color:rgb(172, 65, 26);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', sans-serif;
}
html{
    scroll-behavior: smooth;
    scrollbar-3dlight-color:var(--primary-color);
}
body{
    /* background-color: var(--primary-color); */
}
a{
    text-decoration:none;
}
ul{
    list-style: none;
}
.mobile-nav{
    display: none;
}
header{
    min-height: 60vh;
    background-color: var(--primary-color);
}
nav{
    padding: 10px;
    display: flex;
    justify-content:center;
}

.intro{
    height: 80%;
    padding: 10%;
    display: flex;
    justify-content: center;
    /* background: url('../img/person_3.jpg') no-repeat center center/cover;
     */
    background-color: var(--primary-color);
    color: white;
}
.text-lg{
    font-size: 5rem;
}
.intro-text{
    font-size: 1.5rem;
}
.scroll-nav-bar{
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.scroll-nav{
    padding: 20px;
    display: flex;
    justify-content:space-between;
}
.nav-item{
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    padding: 20px;
    font-size:1.2rem;
    /* background-color: var(--primary-color); */
}